<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Tasklist</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>controller.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDeleteServlet</display-name>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <servlet-class>controller.TaskDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <url-pattern>/TaskDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskEditServlet</display-name>
    <servlet-name>TaskEditServlet</servlet-name>
    <servlet-class>controller.TaskEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskEditServlet</servlet-name>
    <url-pattern>/TaskEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskRegisterServlet</display-name>
    <servlet-name>TaskRegisterServlet</servlet-name>
    <servlet-class>controller.TaskRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskRegisterServlet</servlet-name>
    <url-pattern>/TaskRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskCompletedServlet</display-name>
    <servlet-name>TaskCompletedServlet</servlet-name>
    <servlet-class>controller.TaskCompletedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskCompletedServlet</servlet-name>
    <url-pattern>/TaskCompletedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackupServlet</display-name>
    <servlet-name>BackupServlet</servlet-name>
    <servlet-class>controller.BackupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackupServlet</servlet-name>
    <url-pattern>/BackupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskFilterServlet</display-name>
    <servlet-name>TaskFilterServlet</servlet-name>
    <servlet-class>controller.TaskFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskFilterServlet</servlet-name>
    <url-pattern>/TaskFilterServlet</url-pattern>
  </servlet-mapping>
</web-app>